@model Downstream.Models.Ticket

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssueType" class="control-label"></label>
                <input asp-for="IssueType" class="form-control" />
                <span asp-validation-for="IssueType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeEntered" class="control-label"></label>
                <input asp-for="TimeEntered" class="form-control" />
                <span asp-validation-for="TimeEntered" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequiredResolutionTime" class="control-label"></label>
                <input asp-for="RequiredResolutionTime" class="form-control" />
                <span asp-validation-for="RequiredResolutionTime" class="text-danger"></span>
            </div>

           <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsResolved" /> @Html.DisplayNameFor(model => model.IsResolved)
                </label>
           </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class ="flex-column">
                <br />
                <p class="fst-italic">Recommended examples for issue type are:</p>
                @{
                    List<string> currentSuggestedIssueTypes = IssueTypes.DisplayIssueTypes("Locked Out", "VPN", "Software Request");
               }

               <ul>

               @for (int i =0;i<currentSuggestedIssueTypes.Count;i++)
                {
                 <li class="fst-italic">@currentSuggestedIssueTypes[i]</li>
                }

                </ul>


</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
