
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center align-items-center justify-content-center">
    <h1>CodeLouisville Software Development 2 Project</h1>
    <br />
    <p>IT Ticketing System developed in ASP.NET Core MVC</p>
</div>
