
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center align-items-center justify-content-center">
    <h1>CodeLouisville Software Development 2 Project</h1>
    <br />
    <h2>IT Ticketing System developed in ASP.NET Core MVC</h2>
    <br />
    <br />
    
        <h1 class="display-4">@SiteMessages.MakeMessage("This text uses SiteMessage.MakeMessage", "and will later be used to display statistics")</h1>
</div>
